.sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--color-grey-light-2);
  height: calc(100vh - 116px);
  padding: 2rem 1rem;
  border-radius: 5px;
  position: sticky;

  li {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: 1rem;
    cursor: pointer;

    span {
      margin-left: 1rem;
      font-size: 1.1rem;
      color: var(--color-grey-dark-3);
    }

    &:hover {
      background-color: var(--color-primary);
      padding: .5rem 1rem;
      color: var(--color-light);

      svg {
        color: var(--color-light);
      }

      span {
        color: var(--color-light);
      }
    }
  }
}

.active {
  background-color: var(--color-primary) !important;
  padding: .5rem 1rem !important;
  color: var(--color-light) !important;

  svg {
    color: var(--color-light) !important;
  }

  span {
    color: var(--color-light) !important;
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    background-color: var(--color-grey-light-2);
    border-radius: 5px;
    width: 35vw;
    display: flex;
    align-items: center;
    height: 40px;

    input {
      background-color: transparent;
      border: none;
      padding-left: 2rem;
      flex: 0 0 85%;
    }

    button {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 15%;
      border: none;
    }
  }
}