:root {
    --color-primary: #D92A2E;
    --color-light: #fff;
    --color-dark: #303e67;
    --color-red: #D92A2E;
    --color-warning: rgb(252, 166, 38);
    --radius: 20px;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f8f9fb;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --background: linear-gradient(14deg, #3fc1be 0%, #3fc1bf6c);
    --color-shadow: 0 7px 14px 0 #3fc1bf49;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
a::before {
    box-sizing: inherit;
}

body {
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-dark) !important;
  background-color: var(--color-grey) !important;
  background-size: cover;
  background-repeat: no-repeat; }

html {
    box-sizing: border-box;
    font-size: 14px !important;
    overflow-x: hidden;
}

#root {
    width: 100vw;
    overflow-x: hidden;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none; }